body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 99;
}

/* Header elements  */

.logo-sony{
    width: 100px;
    padding: 12px;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    white-space: nowrap;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #2D64E6;
}

.chevron-down{
    height: 13px;
    margin-left: 10px;
}

.chevron-hover{
    height: 13px;
    margin-left: 10px;
    display: none;
}

.nav-link:hover .chevron-down{
    display: none;
}

.nav-link:hover .chevron-hover{
    display: inline-block;
    transition: transform .5s ease-in-out; 
}

.nav-link:focus .chevron-hover{
    transform: rotate(180deg);
}

.menu-dropdown{
    width: 100vw;
    position: fixed;
    top: -90px;
    left: 0ch;
    z-index: -1;
    transition: all 0.5s;
}

.nav-link:focus + .menu-dropdown{
    top: 113px;
}

.card-container{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 2px solid lightgrey;
}

.menu-dropdown-card-img{
    height: 100px;
    padding: 10px;
}

.link-container{
    padding: 15px 0;
}

/* .nav-link:focus + .dropdown-menu{
}

.dropdown-menu{
    display: flex;
    position: fixed!important;
    justify-content: center;
    width: 100vw;
    top: 113px;
    left: 0;
    border: 0;
    border-radius: 0;
}

.dropdown-menu-list{
    display: flex;
    justify-content: center;
} */

/* Section Styles */

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-medium {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-large {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-hero{
    background-image: url(..//img/jumbo-bg.png);
    width: 100%;
    background-position: center;
    padding-top: 300px;
    background-size: cover;
}

.section-it-takes-two{
    background-image: url(..//img/it-takes-two-hero-banner-desktop.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
}

.section-nuove-uscite{
    background-color: #1F1F1F;
}

.section-ps-plus{
    background-color: #BEBCBB;
}

.section-ps-now{
    background-color: #161C3B;
}

.section-footer{
    background-color: #00439c;
}

/* Section Elements */

.section-title{
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.section-text{
    margin-bottom: 30px;
}

.section-super {
    color: #0072ce;
    font-size: .9rem;
}

.section-subtitle {
    color: #727272;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.section-text-small{
    font-size: .9rem;
    font-weight: bold;
}

/* highlighted card and hover section Returnal and Ratchet & Clank */
.highlighted{
    border: 3px solid white;
    box-shadow: 0 0 0 2px #2D64E6;
}

.translate-top{
    transition: transform .5s ease-out;
}

.translate-top:hover{
    transform: translateY(-10px);
}


/* modifiers section PS Accessories */
.accessories-card{
    opacity: 0.5;
}

.accessories-card:hover{
    opacity: 1;
}

.accessories-card-border{
    border-bottom: 2px solid #2D64E6;
}

.accessories-card-img{
    max-width: 100px;
    padding-bottom: 15px;
}

/* styles section solcial */
.container-socials{
    max-width: 550px;
    margin-top: 70px;
}

.rounded-3 {
    border-radius: 1rem!important;
}

/* styles footer */
.logo-ps-footer{
    display: block;
    height: 100px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}


/* buttons styles */

.btn{
    border-radius: 50rem;
    font-weight: bold;
}

.btn-darkgrey,
.btn-darkgrey:hover{
    color: white;
    background-color: #363636;
    border:2px solid #363636;
    box-shadow: 0 0 0 2px #363636;
}

.btn-darkgrey:hover{
    border-color: white;
}

.btn-orange,
.btn-orange:hover{
    color: white;
    background-color: #CD3D0F;
    border:2px solid #CD3D0F;
    box-shadow: 0 0 0 2px #CD3D0F;
}

.btn-orange:hover{
    border-color: #1F1F1F;
}

.btn-blue,
.btn-blue:hover{
    color: white;
    background-color: #2D64E6;
    border:2px solid #2D64E6;
    box-shadow: 0 0 0 2px #2D64E6;
}

.btn-blue:hover{
    border-color: white;
}

.btn-lightgrey,
.btn-lightgrey:hover{
    color: #2D64E6;
    background-color: #D9DADC;
    border:2px solid #D9DADC;
    box-shadow: 0 0 0 2px #D9DADC
}

.btn-lightgrey:hover{
    border-color: #BEBCBB;
}

.btn-white,
.btn-white:hover{
    color: #161C3B;
    background-color: #ffffff;
    border:2px solid #ffffff;
    box-shadow: 0 0 0 2px #ffffff;
}

.btn-white:hover{
    border-color: #161C3B;
}

@media screen and (max-width: 767px){
    .section-ps-plus,
    .section-ps-now{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .hidden-sm{
        display: none;
    }

    .accessories-card-img{
        max-width: 150px ;
    }
}
